:root {
  --bg1: #ffdee9;
  --bg2: #b5fffc;
  --card: #ffffff;
  --text: #222;
}

body.dark {
  --bg1: #141E30;
  --bg2: #243B55;
  --card: #1f2937;
  --text: #f3f4f6;
}

body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  background: linear-gradient(135deg, var(--bg1), var(--bg2));
  color: var(--text);
  transition: 0.4s;
}

.screen {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen.active {
  display: flex;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 420px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  background: #ff6f91;
  color: white;
  cursor: pointer;
}

.top-bar {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  font-size: 30px;
}

.emoji {
  background: var(--card);
  padding: 15px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.emoji:hover {
  transform: scale(1.1);
}
